:root {
   --black: #000000;
   --grey: LightSlateGray;
   --marker: 'Permanent Marker', cursive; 
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  background-color: var(--black);
  color: var(--grey);
  font-family: var(--marker);
  font-size: 28px;
}

h1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2px;
  color: var(--grey);

}

h2 {

  font-size: 250%;
  position:relative;
  margin-top: -20px
 }


main {
  display: flex;
  flex: 1 1 0;
  max-width: 96%;
  margin: 2% auto;
}

.flex-container {
  display: inline-flex;
  flex-direction: wrap;
  justify-content: space-between;
  margin: 2% auto;
  border-color: var(--grey);
  padding: 5px;
  border: 8px solid
}

.flex-container .overlay-text {
  position: absolute;
  width: 60%;
  font-size: 24px;
  bottom:-40%;
  right: 16px;
  color: var(--grey); 
  font-weight: bold;
  letter-spacing: -1px;  
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
  
}

.hero {
  height: 100%;
  width: 100%;
  margin-bottom: 1px;
  background-image: url("./assests/images/Test1image.jpg");
  background-size: cover;
  background-position: center;

}

.flex-child {
  flex: 1;
  border: 2px solid var(--grey);
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #13293d;
  color: #fff;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  main {
    max-width: 1200px;
  }
}
